<h1 class="help-title">これって何？</h1>
<p class="help-body">PLAY ALERT は、観たい公演を選んでメールアドレスを登録すると、その公演が始まる前に通知メールでお知らせする
Webサービスです。</p>

<h1 class="help-title">使い方</h1>
<ol class="help-body">
  <li>一覧画面では、初日が翌日以降の公演情報が並んでいます。このなかからメール通知を送ってほしい公演を選びます。
  </li>
  <li>メールアドレスと何日前に通知をもらうか選んで「OK」ボタンを押します。</li>
  <li>数分後、「通知確認」メールが届きます。</li>
  <li>公演初日が近づいてきたら「公演開始日○日前です」メールが届きます。</li>
</ol>

<h1 class="help-title">メールが届かないときは？</h1>
<p class="help-body">
  <span style="font-weight:bold;">@gmail.com</span> からのメールが届くようにしてください。
</p>

<h1 class="help-title">ご意見・ご要望は？</h1>
<p class="help-body">
  届いたメールアドレス宛てに返信してください。このサイトを作った作成者宛てに届きます。
</p>