<%= javascript_tag do %>
  window.data = <%= raw @data.to_json %>;
<% end %>

<div id="calendar" class="calendar"></div>

<div style="margin-top: 1em;"></div>
<% if @stages.count > 0 %>
  <h3><span style="color:#ffc700;">★</span>マークつき公演一覧</h3>
  
  <%= render "stages/stagelist_area" %>
<% end %>

<% if !logged_in? %>
<div class="tips">
  ☆マークの情報はブラウザを閉じると消えてしまいます。　<br>
  消えないようにしたい場合は、ログインしてください。<br>
</div>
<% end %>