
<div id="popup">
  <div class="close_overlay"></div>
  <div class="popup-window">
    <div class="popup-close">×</div>
    <div class="popup-stageinfo">
      <div id="popup-title"></div>
      <span id="popup-group"></span><br>
      <div id="popup-term"></div>
      <div id="popup-theater"></div>
      
      <div id="popup-detail"></div>
      
    </div>
  </div>
</div>
    