@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding: 4em 0em;
}
.container {
  width: 75%;
}
.page-title {
  font-size: 1.5em;
  color: green;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
  color: green;
  letter-spacing: 2px;
  padding-top: 9px;
  font-weight: bold;
}
#logo:hover {
  text-decoration: none;
}

.nav-link {
  color: #666;
  font-size: 1.8em;
  padding: 6px 0px;
  margin: 6px 6px;
}
.nav-link:hover {
  text-decoration: none;
}
.navbar {
  background-color: #fff;
  border-bottom: 1px #ccc solid;
}
.navbar-right {
  float: right;
  margin-right: 0px;
}

.startdate {
  white-space: nowrap;
  width: 8em;
}
.stage-choice {
  cursor : pointer;
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
}
.stage-choice:hover {
  background-color: #ceddff;
}
.stage-list > tbody > tr:hover {
  background-color: #ceddff;
}
.alert-on-notlogin{
  padding-top: 1em;
}
.alert-title-notlogin {
  font-size: 1.5em;
  color: #f44;
  padding: 1em 0em;
}
.alert-step {
  background:#88f; 
  padding: 8px;
  margin: 8px;
  border-radius:5px;
  color: white;
}
.alert-indent {
  padding-left: 5.3em;
}
input[type="text"]{
  font-size: 1.3em;
  padding: 6px;
}
input[type="text"]:focus {
  outline: 1px #44f solid;
}
.alert-text {
  font-size: 1.3em;
  padding-left: 2px;
  padding-right: 1em;
}

/**
 * エラーメッセージ
 */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding: 4em 0.5em;
  }
  .container {
    width: 100%;
  }
  .sp-none {
    display: none;
  }
  .startdate {
    width: 5.5em;
  }
  .navbar-nav {
    margin: 0 0;
  }
}