@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding: 1em 5em;
}
.container {
  width: 80%;
}
.page-title {
  font-size: 1.5em;
  color: green;
}

.startdate {
  white-space: nowrap;
  width: 8em;
}

.stage-choice {
  cursor : pointer;
  font-size: 1.2em;
}
.table-hover > tbody > tr:hover {
  background-color: #ceddff;
}

.alert-on-notlogin{
  padding-top: 1em;
}
.alert-title-notlogin {
  font-size: 1.5em;
  color: #f44;
  padding: 1em 0em;
}
.alert-step {
  background:#66f; 
  padding: 8px;
  margin: 8px;
  /*border:1px solid #ff0000;*/ 
  border-radius:5px;
  color: white;
}
@media screen and (max-width: 767px) {
  body {
    padding: 1em 0.5em;
    font-size: 200%;
  }
  .container {
    width: 100%;
  }
  .sp-none {
    display: none;
  }
  .startdate {
    width: 5.5em;
  }
}