@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding: 1em 5em;
}

.page-title {
  font-size: 1.5em;
  color: green;
}

.startdate {
  white-space: nowrap;
  width: 9em;
}


.stage-choice {
  cursor : pointer;
}

@media (max-width: 767px) {
  body {
    padding: 1em 0.5em;
    font-size: 200%;
  }
  .sp-none {
    display: none;
  }
}